<div class="section"></div>
<main>
  <div class="center">
    <img
      class="responsive-img"
      style="width: 250px"
      src="https://i.imgur.com/ax0NCsK.gif"
    />
    <div class="section"></div>

    <h5 class="indigo-text">Reset password form</h5>
    <div class="section"></div>

    <div class="container">
      <div
        class="z-depth-1 grey lighten-4 row"
        style="
          display: inline-block;
          padding: 32px 48px 0px 48px;
          border: 1px solid #eee;
        "
      >
        <div class="row">
          <div class="col s12"></div>
        </div>

        <div class="row" [formGroup]="formValidator">
          <div class="input-field col s6">
            <input
              formControlName="usernameField"
              class="validate"
              type="text"
              name="username"
              id="username"
            />
            <label for="username">Usuario</label>
            <div
              class="errors"
              *ngIf="
                getForm['usernameField'].errors &&
                (getForm['usernameField'].touched ||
                  getForm['usernameField'].dirty)
              "
            >
              Debe ingresar el usuario
            </div>
          </div>
          <div class="input-field col s6">
            <input
              formControlName="emailField"
              class="validate"
              type="text"
              name="email"
              id="email"
            />
            <label for="email">Correo</label>
            <div
              class="errors"
              *ngIf="
                getForm['emailField'].errors &&
                (getForm['emailField'].touched || getForm['emailField'].dirty)
              "
            >
              Debe ingresar el correo electrónico
            </div>
          </div>
        </div>

        <br />
        <div class="center">
          <div class="row">
            <button
              [disabled]="!formValidator.valid"
              type="button"
              (click)="ResetPasswordEvent()"
              name="btn_login"
              class="col s12 btn btn-large waves-effect indigo"
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section"></div>
  <div class="section"></div>
</main>
