<nav>
  <div class="nav-wrapper">
    <a routerLink="/home" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <a *ngIf="!isThereAnActiveSession" routerLink="/security/login"
          >Iniciar Sesión</a
        >
      </li>
      <li>
        <a *ngIf="isThereAnActiveSession" routerLink="/parameters/city"
          >Ciudad</a
        >
      </li>
      <li>
        <a *ngIf="isThereAnActiveSession" routerLink="/parameters/region"
          >Departamento</a
        >
      </li>
      <li>
        <a *ngIf="isThereAnActiveSession" routerLink="/security/signout"
          >Cerrar Sesión</a
        >
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a *ngIf="!isThereAnActiveSession" routerLink="/security/login"
      >Iniciar Sesión</a
    >
  </li>
  <li>
    <a *ngIf="isThereAnActiveSession" routerLink="/parameters/city">Ciudad</a>
  </li>
  <li>
    <a *ngIf="isThereAnActiveSession" routerLink="/parameters/region"
      >Departamento</a
    >
  </li>
  <li>
    <a *ngIf="isThereAnActiveSession" routerLink="/security/signout"
      >Cerrar Sesión</a
    >
  </li>
</ul>
